# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/*.jks
android/key.properties

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db
